<fieldset>
    {% if not self.instance.url %}
    <div class="help-block help-info">
        <svg class="icon icon-help icon" aria-hidden="true"><use href="#icon-help"></use></svg>
        <p>This page is not derived from a wordpress record</p>
    </div>
    {% else %}
    <div class="help-block help-info">
        <svg class="icon icon-help icon" aria-hidden="true"><use href="#icon-help"></use></svg>
        <p>View the wordpress record this page is derived from: <a href="{{ self.instance_url }}">{{ self.instance.title }}</a></p>
    </div>
    {% endif %}
</fieldset>
