{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <article>
        <h1>Search</h1>

        <form action="{% url 'search' %}" method="get" role="group">
            <input type="search" name="query"{% if search_query %} value="{{ search_query }}"{% endif %} placeholder="Search blog posts">
            <input type="submit" value="Search" class="button">
        </form>
    </article>

    {% if search_results %}
    <article>
        <ul>
            {% for result in search_results %}
            <li>
                <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                {% if result.search_description %}
                {{ result.search_description }}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </article>
    {% elif search_query %}
    <article class="pico-background-red-50">
        No results found
    </article>
    {% endif %}

    <nav>
        <ul>
            <li>
                {% if search_results.has_previous %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" role="button">
                    Previous
                </a>
                {% endif %}
            </li>
        </ul>
        <ul>
            <li>
                {% if search_results.has_next %}
                <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" role="button">
                    Next
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>

{% endblock %}
