{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <article>
        <h1>{{ page.title }}</h1>
        <div class="intro">{{ page.intro|richtext }}</div>
    </article>

    {% for post in blogpages %}

        {% if forloop.first or forloop.counter0|divisibleby:2 %}
        {% comment %} Start a new row {% endcomment %}
        <div class="grid">
        {% endif %}

            <article>
                {% with post=post.specific %}
                <header>
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                </header>
                <div class="grid">
                    {% with post.main_image as main_image %}
                    {% if main_image %}
                    <figure>
                    {% image main_image fill-160x100 %}
                    </figure>
                    {% endif %}
                {% endwith %}
                    <div>
                        <p>{{ post.intro|richtext }}</p>
                    </div>
                </div>
                {% endwith %}
            </article>

        {% if forloop.last or forloop.counter|divisibleby:2 %}
        {% comment %} End the row {% endcomment %}
        </div>
        {% endif %}

    {% endfor %}

{% endblock %}
