{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block navigation %}{% endblock %}

{% block content %}
    <article class="pico-background-pumpkin-100">
        <hgroup>
            <h1>{{ page.title }}</h1>
            <p>This is an example index page for the blog</p>
        </hgroup>
        {{ page.intro|richtext }}
    </article>

    <article>
      <form action="" method="get">
        <fieldset role="group">
          <select name="category" id="category">
            <option value="">All Categories</option>
            {% for category in categories %}
            {% if request.GET.category == category.slug %}
              <option value="{{ category.slug }}" selected>{{ category }}</option>
            {% else %}
              <option value="{{ category.slug }}">{{ category }}</option>
            {% endif %}
            {% endfor %}
          </select>
          <input type="submit" value="Filter">
        </fieldset>
      </form>
    </article>

    {% for post in blogpages %}

        {% if forloop.first or forloop.counter0|divisibleby:2 %}
        {% comment %} Start a new row {% endcomment %}
        <div class="grid">
        {% endif %}

            <article>
                {% with post=post.specific %}
                <header>
                    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                </header>
                <div class="grid">
                    {% with post.main_image as main_image %}
                    {% if main_image %}
                    <figure>
                    {% image main_image fill-160x100 %}
                    </figure>
                    {% endif %}
                {% endwith %}
                    <div>
                        <p>{{ post.intro|richtext }}</p>
                    </div>
                </div>
                {% endwith %}
            </article>

        {% if forloop.last or forloop.counter|divisibleby:2 %}
        {% comment %} End the row {% endcomment %}
        </div>
        {% endif %}

    {% endfor %}

    {% if not blogpages %}
    <article>
        <p>There are no blog posts to display</p>
    </article>
    {% endif %}

    {% if blogpages.has_other_pages %}
    <nav>
        <ul class="pagination">
            <li><a href="?page=1{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" role="button">First Page</a></li>
          {% if blogpages.has_previous %}
            <li><a href="?page={{ blogpages.previous_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" role="button">&laquo;</a></li>
          {% else %}
            <li><a role="button" disabled>&laquo;</a></li>
          {% endif %}
          {% for i in blogpages.paginator.page_range %}
            {% if blogpages.number == i %}
              <li disabled role="button" class="secondary"><span>{{ i }}</span></li>
            {% else %}
              <li><a href="?page={{ i }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" role="button">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if blogpages.has_next %}
            <li><a href="?page={{ blogpages.next_page_number }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" role="button">&raquo;</a></li>
          {% else %}
            <li><a role="button" disabled>&raquo;</a></li>
          {% endif %}
          <li><a href="?page={{ total_pages }}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}" role="button">Last Page</a></li>
        </ul>
        <ul>
            <li>Total Blog Posts: {{ blogpages.paginator.count }}</li>
        </ul>
    </nav>
  {% endif %}

{% endblock %}
